.page_transition {
  :global(.continue-anim) {
    opacity: 0;
  }

  &:global(.transition-active) {
    > :global(*:not(.prevent-anim)) {
      animation: commonReveal var(--pt-duration) 0s var(--pt-easing) both;
    }
    :global(.continue-anim) {
      animation: commonReveal var(--pt-duration) 0s var(--pt-easing) both;
    }
  }
}

@keyframes commonReveal {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
